export MYSQL_PASSWORD=your_password
export MYSQL_USER=your mysql user
export OPENAI_TOKEN=your openai token
export USER_NAME=your user name
export LETSENCRYPT_EMAIL=the email you want lets encrypt to notify if something goes wrong
export LETSENCRYPT_HOST=your website url